<!DOCTYPE html>
<html>
  <head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  </head>
  <div id="app">
    <div style="display:flex">
        <div v-for="(eachHeading,index) in rowHeadings" :key="index" style="flex:1;" class="row-heading">
            <span>{{eachHeading.title}} </span>
            <span> {{eachHeading.sub}}</span>
        </div>
    </div>
    <order-list :depthdelta="askDepthDelta" depthclass="askDepth"> </order-list>
    <div style="padding:20px;background: rgb(247, 247, 247);" >
        <span  :class="{bidDepth : spotCurrentPrice > spotOldPrice, askDepth: spotCurrentPrice < spotOldPrice}" style="font-weight: 600;font-size:16px">{{spotCurrentPrice}} </span>
        <img v-if="spotOldPrice && spotOldPrice !== spotCurrentPrice" src="up-arrow.svg" style="height: 13px" :class="{reverse: spotCurrentPrice < spotOldPrice }">
        <span v-if="spotOldPrice" style="margin-left:20px;font-weight:400;font-size:15px;"> ${{spotOldPrice}}</span>
    </div>
    <order-list :depthdelta="bidDepthDelta" depthclass="bidDepth"> </order-list>
  </div>
  <script>
    Vue.component('order-list',{
        props: ["depthdelta","depthclass"],
        template: `
        <div>
        <div style="display:flex;flex-direction:column" v-for="(depthData,index) in depthdelta" :key="index">
            <div style="display:flex" >
                    <span style="flex:1" :class="depthclass">{{depthData.price}}</span>
                    <span style="flex:1">{{depthData.quantity}}</span>
                    <span style="flex:1">{{depthData.total}}</span>           
            </div>
        </div>
        </div>
        `
    });
    var app = new Vue({
        el: "#app",
        data: {
            name: 'hello',
            symbolType: 'BTC',
            symbolCurr: 'USDT',
            rowHeadings: [],
            depthLength: 10,
            bidDepthDelta: [],
            askDepthDelta: [],
            spotCurrentPrice: '',
            spotOldPrice: ''
        },
        mounted(){
            var socket = io.connect('http://127.0.0.1:8000', {transports: ['websocket']});
            socket.on('stream', (data) => {
                switch(data.eventType){
                    case '24hrTicker':
                        this.spotOldPrice = this.spotCurrentPrice || data.currentClose ;
                        this.spotCurrentPrice = data.currentClose;
                    break;
                    case 'depthLevelUpdate':
                        this.bidDepthDelta = data.bids;
                        this.askDepthDelta = data.asks;
                    break;
                }
            });
            this.rowHeadings = [{
                title: 'Price',
                sub: '( ' + this.symbolCurr + ' )'
            },
            {
                title: 'Amount',
                sub: '( ' + this.symbolType + ' )'
            },
            {
                title: 'Total',
                sub: '( ' + this.symbolCurr + ' )'
            }];
        }
    })
  </script>
  <style>
    body{
        font-size: 14px;
    }
    .row-heading{
        color: #999;
    }
    .reverse{
        transform: rotate(180deg);
    }
    .askDepth{
        color: rgb(234, 0, 112);
    }
    .bidDepth{
        color: rgb(112, 168, 0);
    }
  </style>
</html>